<!-- HOME -->
<section id="home_corp">

	<div class="container text-center">

		<h1 class="m-0 fs-50 fw-300 wow fadeInUp" data-wow-delay="0.4s">COMMERCIAL & CORPORATE SERVICES</h1>
		<p class="lead font-lato fs-30 wow fadeInUp" data-wow-delay="0.7s">No matter how successful you get, always send the elevator <br>back down for someone else.</p>

		<div class="row mt-100 text-left">
			<div class="col-md-8 col-sm-12 mb-30">
				<%= image_tag("adobeStock_122227340.jpeg", atl:"", style:"border:5x solid black", class:"img-fluid")%>
			</div>

			<div class="col-md-4 col-sm-12">
				<h3 class="fw-300"><strong>Product Overview</strong></h3>

				<p>Give your building an elevator that makes an impact. Our elevators ensure exceptional people and goods flow in all types of buildings; from the smallest residential buildings to the world’s highest skyscrapers.</p>

				<hr />

				<ul class="list-unstyled list-icons">
					<li><i class="fa fa-check"></i> A stylish interior.</li>
					<li><i class="fa fa-check"></i> A smooth and silent ride.</li>
					<li><i class="fa fa-check"></i> Low carbon footprint.</li>
					<li><i class="fa fa-check"></i> Deliver the best people flow experience.</li>
					<li><i class="fa fa-check"></i> Customer services during the entire lifespan of the building.</li>
				</ul>
			</div>

		</div>

	</div>
</section>
<!-- /HOME -->

<!--Example of our work and some pictures-->
<section class="dark">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 border-right">
				<h3 class="text-center">New Construction</h3>
				<p class="text-center">We can do new construction<br>
				and helps architects for planning!</p>
				<%= image_tag("projects/buildersExample-logo.jpg", atl:"", style:"border:5x solid black", class:"img-fluid")%>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 border-right">
				<h3 class="text-center">Modernization</h3>
				<p class="text-center">We are there to help you<br>
				modernize your living space!</p>
				<%= image_tag("projects/modernizationElevator.jpeg", atl:"", style:"border:5x solid black", class:"img-fluid")%>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<h3 class="text-center">After-Sale Service</h3>
				<p class="text-center">We are simply the best at it.<br>
				Rapid and professional service 24/7</p>
				<%= image_tag("projects/elevatorMechanic-logo.jpg", atl:"", style:"border:5x solid black", class:"img-fluid")%>
			</div>
		</div>
	</div>
</section>

<!-- PRICING -->
			<section id="pricing">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Our Pricing</h2>
						<p class="lead font-lato">Your satisfaction is our priority.</p>
					</header>

					<div class="row">

						<div class="col-sm-4">
							<div class="price-clean">
								<h4><sup>$</sup>7,565</h4>
								<br>
								<h5> STANDARD </h5>
								<hr />
								<p>Installation fees of 10%.</p>
								<hr />
								<a href="/quotes/new" class="btn btn-3d btn-teal">Request a quote</a>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="price-clean">
								<h4><sup>$</sup>12,345</h4>
								<br>
								<h5> PREMIUM </h5>
								<hr />
								<p>Installation fees of 13%.</p>
								<hr />
								<a href="/quotes/new" class="btn btn-3d btn-teal">Request a quote</a>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="price-clean">
								<h4><sup>$</sup>15,400</h4>
								<br>
								<h5> EXCELIUM </h5>
								<hr />
								<p>Installation fees of 16%.</p>
								<hr />
								<a href="/quotes/new" class="btn btn-3d btn-teal">Request a quote</a>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- /PRICING -->

<!--Testimonials section-->
<section id="testimonial" class="dark">
	<div class="container">
		<div class="owl-carousel text-center owl-mini-testimonial m-0"
			data-plugin-options='{"singleItem": true, "autoPlay": 5000, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
			<div class="testimonial">
				<figure>
					<%= image_tag("testimonial/stairLiftElder-logo.jpg", atl:"", class:"rounded-circle")%>
				</figure>
				<!--Dorothy testimonial (she's the best)-->
				<div class="testimonial-content p-0">
					<p>I loved my experience at Rocket Elevators! The salesman was really nice and helpful! <br>
						Would recommend to a friend! </p>
					<cite>
						Dorothy R.
					</cite>
				</div>
			</div>
			<div class="testimonial">
				<figure>
				<%= image_tag("testimonial/vrTestimonial-logo.jpg", atl:"", class:"rounded-circle")%>
				</figure>
				<!--Jack H's testimonial (he's the crazy type)-->
				<div class="testimonial-content p-0">
					<p>Reached out to Rocket Elevators for a commercial projet and they did amazing!<br>
						Couldn't be happier!
					</p>
					<cite>
						Jack H.
						<span>Unity Technologies.</span>
					</cite>
				</div>
			</div>
		</div>
	</div>
</section>
