<!--SLIDERS-->
<section id="sliders">
	<a id="home-nav" class="hidden-anchor"></a>
	<div class="slider fullwidthbanner-container roundedcorners">
		<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
			<ul class="hide">
				<!-- SLIDE  -->
				<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Let's Rise Together!">
						<!-- MAIN IMAGE -->
						<%= image_tag("slide1.jpeg", alt:"elevator cover image")%>
					<div class="tp-caption white_big skewfromleft tp-resizeme"
						data-x="100"
						data-y="100"
						data-speed="400"
						data-start="1500"
						data-easing="Power3.easeInOut"
						data-splitin="words"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="600"
						style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:1px 1px 2px black;">
							Rocket Elevators
					</div>
					<div class="tp-caption content_text_center skewfromleft tp-resizeme"
						data-x="200"
						data-y="195"
						data-speed="500"
						data-start="2000"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="600"
						style="z-index: 3; font-size:35px; color:#fff; font-weight:normal; text-shadow:1px 1px 2px black;">
							The elevator of a new generation!
					</div>
						<div class="tp-caption sfb tp-resizeme"
						data-x="600"
						data-y="300"
						data-speed="500"
						data-start="2500"
						data-easing="Power3.easeIn"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="1"
						data-endelementdelay="0.1"
						data-endspeed="300"
						style="z-index: 4; max-width: auto;">
						<a class="btn btn-dark btn-lg hidden-lg-down" href="#portfolio">OUR SERVICES &nbsp;<i class="fa fa-angle-right"></i></a>
					</div>
					<div class="tp-caption sfb tp-resizeme"
						data-x="800"
						data-y="300"
						data-speed="500"
						data-start="2500"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-dark btn-lg hidden-lg-down" href="/quotes/new">GET A QUOTE &nbsp;<i class="fa fa-angle-right"></i></a>
					</div>
				</li>
				<!-- SLIDE  -->
				<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Rocket - Be Ready.">
					<!-- MAIN IMAGE -->
					<%= image_tag("slide2.jpeg", alt:"elevator cover image")%>
					<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>
					<div class="tp-caption font-roboto skewfromleft tp-resizeme"
						data-x="25"
						data-y="100"
						data-speed="500"
						data-start="1500"
						data-easing="Cubic.easeOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 2; color:#fff; font-size:50px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:1px 1px 2px black;">
							Residential building elevators
					</div>
					<div class="tp-caption skewfromrightshort tp-resizeme"
						data-x="75"
						data-y="200"
						data-speed="500"
						data-start="1000"
						data-easing="easeInCirc"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 3; font-size:20px; color:#fff; font-weight:normal; text-shadow:1px 1px 2px black;">
							You heard it right! <br/><br/>
							Rocket Elevators also does residential installation!
					</div>
					<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
						data-x="665"
						data-y="300"
						data-speed="500"
						data-start="2500"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-dark btn-lg hidden-lg-down" href="residential.html">RESIDENTIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
					</div>
				</li>
				<!-- SLIDE  -->
				<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Rocket - be ready.">
					<!-- MAIN IMAGE -->
					<%= image_tag("slide3.jpeg", alt:"elevator cover image")%>
					<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>
					<div class="tp-caption skewfromrightshort tp-resizeme"
						data-x="25"
						data-y="120"
						data-speed="500"
						data-start="1000"
						data-easing="easeInCirc"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 3; font-size:45px; color:#fff; font-weight:normal; text-shadow:1px 1px 2px black;">
							Rocket Elevators also provides service <br/><br/><br/>
							for all your corporation building needs!
					</div>
					<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
						data-x="665"
						data-y="300"
						data-speed="300"
						data-start="2500"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="300"
						style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-dark btn-lg hidden-lg-down" href="commercial.html">CORPORATION SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
					</div>
				</li>
			</ul>
		</div>
	</div>

</section>
<!-- /SLIDER -->

<!---->
<section class="hidden-lg-up">
	<a class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-15" href="#portfolio">OUR SERVICES &nbsp;<i class="fa fa-angle-right"></i></a>
	<hr class="m-0" /><!-- 1px line separator -->
	<a class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-15" href="/quotes/new">GET A QUOTE &nbsp;<i class="fa fa-angle-right"></i></a>
	<hr class="m-0" /><!-- 1px line separator -->
	<a class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-15" href="residential.html">RESIDENTIAL SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
	<hr class="m-0" /><!-- 1px line separator -->
	<a class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-15" href="commercial.html">CORPORATION SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
</section>
<!---->

<hr class="m-0" /><!-- 1px line separator -->

<!--Contact US link-->
<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
	<span class="font-lato fs-40">
		When you rise, we shine.
		<strong>Contact us &raquo;</strong>
	</span>
</a>
<!-- /contactUs -->

<!-- Services -->
<section id="services">
	<a id="services-nav" class="hidden-anchor"></a>
	<div class="container">
		<h1 class="text-center bold font-lato">Our Available Services</h1>
		<br>
		<div class="row">
			<div class="col-sm-4 fs-20 text-center">
				<p>We participated in many projects <br>and won numerous awards.<br> <br> </p>
				<a href="#portfolio" class="btn btn-lg btn-dark">Our Portfolio</a>
			</div>
			<div class="col-sm-4 fs-20 text-center">
				<p>Rocket Elevators offers a service for residential building<br> <br> </p>
				<a href="residential.html" class="btn btn-lg btn-dark">Residential Services</a>
			</div>
			<div class="col-sm-4 fs-20 text-center">
				<p>Rocket Elevators also offers a service for corporate buildings<br> <br> </p>
				<a href="commercial.html" class="btn btn-lg btn-dark">Corporate Services</a>
			</div>

		</div>
	</div>
</section>
<!-- /Services -->

<!-- Parallax / Ribbon / inbusiness -->
<section class="parallax parallax-1" style="background-image: url(<%= asset_path 'elevatorParallax.jpeg' %>); background-position:50% 40px;">
	<div class="overlay dark-5"></div>
	<div class="container">
		<div class="text-center">
			<h2 class="fs-40 fw-300">In Business Since 1976</h2>
			<a class="btn btn-dark btn-lg" href="/quotes/new">REQUEST A QUOTE <i class="fa fa-angle-right"></i></a>
			&nbsp; OR &nbsp;
			<a class="btn btn-dark btn-lg" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
		</div>
	</div>
</section>
<!-- /Parallax -->

<!-- PORTFOLIO -->
<section id="portfolio">
	<div class="container">
		<div class="heading-title heading-dotted text-center">
			<h2>Major Projects And Awards</h2>
		</div>
		<div id="portfolio-nav" class="portfolio-nogutter hidden-anchor"></div>
			<div class="row mix-grid">

				<div class="col-md-3 col-sm-3 mix "><!-- item -->
					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">
									<!-- lightbox -->
									<a class="lightbox ico-light ico-hover" href="/assets/images/projects/ropelessElevator.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa et-magnifying-glass fs-40"></span>
									</a>
								</span>
							</span>
							<%= image_tag("projects/ropelessElevator.jpg", width:"600", height:"300", atl:"", class:"img-fluid")%>
							<!-- <img class="img-fluid" src="/assets/images/projects/ropelessElevator.jpg" width="600" height="300" alt=""> -->
						</figure>
						<hr /> <!--separator-->
						<ul class="list-inline categories m-0 text-center">
							<h2>World's First Vertical And <br>Horizontal Rope-Less Elevator</h2>
						</ul>
					</div>
				</div><!-- /item -->

				<div class="col-md-3 col-sm-3 mix "><!-- item -->
					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">
									<!-- lightbox -->
									<a class="lightbox ico-light ico-hover" href="/assets/images/projects/residentialelevator.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa et-magnifying-glass fs-40"></span>
									</a>
								</span>
							</span>
							<%= image_tag("projects/residentialelevator.jpg", atl:"", class:"img-fluid")%>
						</figure>
						<hr /> <!--separator-->
						<ul class="list-inline categories m-0 text-center">
							<h2>Rocket Elevators's Latest Residential Elevator Model</h2>
						</ul>
					</div>
				</div><!-- /item -->

				<div class="col-md-3 col-sm-3 mix "><!-- item -->
					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">
								<a class="lightbox ico-light ico-hover" href="/assets/images/projects/fastestDouble.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa et-magnifying-glass fs-40"></span>
								</a>
								</span>
							</span>
							<%= image_tag("projects/fastestDouble.jpg", atl:"", class:"img-fluid")%>
						</figure>
						<hr /> <!--separator-->
						<ul class="list-inline categories m-0 text-center">
							<h2>Corporate Building Elevator <br>By Rocket Elevators</h2>
						</ul>
					</div>
					<!--"spacer" Need to rework it-->
					<div class=item-box-desc></div>
				</div><!-- /item -->

				<div class="col-md-3 col-sm-3 mix "><!-- item -->
					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">
									<!-- lightbox -->
									<a class="lightbox ico-light ico-hover" href="/assets/images/projects/boatLift.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa et-magnifying-glass fs-40"></span>
									</a>
								</span>
							</span>
							<%= image_tag("projects/boatLift.jpg", atl:"", class:"img-fluid")%>
						</figure>
						<hr /> <!--separator-->
						<ul class="list-inline categories m-0 text-center">
							<h2>First Boat Elevator <br> Made By Rocket Elevators</h2>
						</ul>
					</div>
				</div><!-- /item -->

				<div class="col-md-3 col-sm-3 mix "><!-- item -->
					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">
									<!-- lightbox -->
									<a class="lightbox ico-light ico-hover" href="/assets/images/projects/pillsElevator.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa et-magnifying-glass fs-40"></span>
									</a>
								</span>
							</span>
							<%= image_tag("projects/pillsElevator.jpg", atl:"", class:"img-fluid")%>
						</figure>
						<hr /> <!--separator-->
						<ul class="list-inline categories m-0 text-center">
							<h2>Custom Commercial Elevator<br> By Rocket Elevators</h2>
						</ul>
					</div>
				</div><!-- /item -->

				<div class="col-md-3 col-sm-3 mix "><!-- item -->
					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">
									<!-- lightbox -->
									<a class="lightbox ico-light ico-hover" href="/assets/images/projects/dogelevator.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa et-magnifying-glass fs-40"></span>
									</a>
								</span>
							</span>
							<%= image_tag("projects/dogelevator.jpg", atl:"", class:"img-fluid")%>
						</figure>
						<hr /> <!--separator-->
						<ul class="list-inline categories m-0 text-center">
							<h2>Custom Pet Elevator <br>By Rocket Elevators</h2>
						</ul>
					</div>
				</div><!-- /item -->

				<div class="col-md-3 col-sm-3 mix "><!-- item -->
					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">
									<!-- lightbox -->
									<a class="lightbox ico-light ico-hover" href="/assets/images/projects/stairlift.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa et-magnifying-glass fs-40"></span>
									</a>
								</span>
							</span>
							<%= image_tag("projects/stairlift.jpg", atl:"", class:"img-fluid")%>
						</figure>
						<hr /> <!--separator-->
						<ul class="list-inline categories m-0 text-center">
							<h2>Residential Stair Lift <br> By Rocket Elevators</h2>
						</ul>
					</div>
				</div><!-- /item -->

				<div class="col-md-3 col-sm-3 mix "><!-- item -->
					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">
									<!-- lightbox -->
									<a class="lightbox ico-light ico-hover" href="/assets/images/projects/tallestElevator.jpg" data-plugin-options='{"type":"image"}'>
										<span class="fa et-magnifying-glass fs-40"></span>
									</a>
								</span>
							</span>
							<%= image_tag("projects/tallestElevator.jpg", atl:"", class:"img-fluid")%>
						</figure>
						<hr /> <!--separator-->
						<ul class="list-inline categories m-0 text-center">
							<h2>Tallest Elevator In The World <br> Made By Rocket Elevators</h2>
						</ul>
						<!--
						<ul class="list-inline categories m-0 ">
							<h6>It sits at 326 metres tall<br>
								And the ride takes about a minute and a half.</h6>
						</ul>
						-->
					</div>
					<!--"spacer" I feel bad for using it now...-->
					<div class=item-box-desc></div>
				</div><!-- /item -->

				<div class="col-md-3 col-sm-4 mix "><!-- item -->
					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">
									<!-- lightbox -->
									<a class="lightbox ico-light ico-hover" href="/assets/images/awards/safetyAward.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa et-magnifying-glass fs-40"></span>
									</a>
								</span>
							</span>
							<%= image_tag("awards/safetyAward.jpg", atl:"", class:"img-fluid")%>
						</figure>
						<hr /> <!--separator-->
							<ul class="list-inline categories m-0 text-center">
								<h2>2019 Health & Safety Finalist Award</h2>
							</ul>
					</div>
				</div><!-- /item -->

				<div class="col-md-3 col-sm- mix "><!-- item -->
					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">
									<!-- lightbox -->
									<a class="lightbox ico-light ico-hover" href="/assets/images/awards/sammyAward.png" data-plugin-options='{"type":"image"}'>
									<span class="fa et-magnifying-glass fs-40"></span>
									</a>
								</span>
							</span>
							<%= image_tag("awards/sammyAward.png", atl:"", class:"img-fluid")%>
						</figure>
						<hr /> <!--separator-->
							<ul class="list-inline categories m-0 text-center">
								<h2>2020 Sammy Technology Award</h2>
							</ul>
					</div>
				</div><!-- /item -->

				<div class="col-md-3 col-sm-3 mix "><!-- item -->
					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">
									<!-- lightbox -->
									<a class="lightbox ico-light ico-hover" href="/assets/images/awards/votedBest-logo.png" data-plugin-options='{"type":"image"}'>
									<span class="fa et-magnifying-glass fs-40"></span>
									</a>
								</span>
							</span>
							<%= image_tag("awards/votedBest-logo.png", atl:"", class:"img-fluid")%>
						</figure>
						<hr /> <!--separator-->
						<ul class="list-inline categories m-0 text-center">
							<h2>Voted Best Company <br>Of The Year In 2018</h2>
						</ul>
					</div>
				</div><!-- /item -->

				<div class="col-md-3 col-sm-3 mix "><!-- item -->
					<div class="item-box">
						<figure>
							<span class="item-hover">
								<span class="overlay dark-5"></span>
								<span class="inner">
									<!-- lightbox -->
									<a class="lightbox ico-light ico-hover" href="/assets/images/CEO.jpg" data-plugin-options='{"type":"image"}'>
										<span class="fa et-magnifying-glass fs-40"></span>
									</a>
								</span>
							</span>
							<%= image_tag("awards/bestCEO-logo.png", atl:"", class:"img-fluid")%>
						</figure>
						<hr /> <!--separator-->
						<ul class="list-inline categories m-0 text-center">
							<h2>David Won The 2019 <br>Best CEO Of The Year Award</h2>
						</ul>
						<div class=item-box-desc></div>
					</div>
				</div><!-- /item -->

			</div>
		</div>
	</div>
</section>
<!-- /PORTFOLIO -->

<!-- Employee -->
<section id="team" class="section-xs dark">
	<div class="container">
		<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
			<div id="CEO">
				<figure>
					<%= image_tag("CEO.jpg", alt:"", class:"rounded-circle", width:"300")%>
				</figure>
				<div>
					<p>David</p>
					<cite>CEO Of Rocket Elevators</cite>
				</div>
			</div>
			<div id="employee">
				<figure>
					<%= image_tag("employee-of-the-monthTC.jpg", alt:"", class:"rounded-circle", width:"300")%>
				</figure>
				<div>
					<p>Tommy</p>
					<cite>Employee Of The Month</cite>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Employee -->

<!-- News -->
<section id="news">
	<div class="container">
		<div class="heading-title heading-dotted text-center">
			<h2>Recent News</h2>
		</div>
		<a id="news-nav" class="hidden-anchor-news"></a>
		<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"3", "autoPlay": 4000, "navigation": true, "pagination": false}'>

			<div class="img-hover">
				<a href="https://www.theglobeandmail.com/news/national/elevator-sales-rise-as-canadians-ditch-the-stairs-at-home/article9707148/" target="_blank">
					<img class="img-fluid" src="https://www.theglobeandmail.com/resizer/pmWqAOcWfgChu_yUD5hUuzbWkso=/620x0/filters:quality(80)/arc-anglerfish-tgam-prod-tgam.s3.amazonaws.com/public/7PKK3GIY65DGXKNVAGSIPFFLCE" alt="">
				</a>
				<h4 class="text-left mt-20"><a href="https://www.theglobeandmail.com/news/national/elevator-sales-rise-as-canadians-ditch-the-stairs-at-home/article9707148/" target="_blank">Elevator Sales Rise</a></h4>
				<p class="text-left">Elevator sales rise as Canadians ditch the stairs at home.</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li>
						<i class="fa fa-calendar"></i>
						29th Nov 2020
					</li>
				</ul>
			</div>

			<div class="img-hover">
				<a href="https://elevatortoday.com/2014/05/02/hyundai-elevator-called-foot/" target="_blank">
					<%= image_tag("news/touchless-logo.png", atl:"", class:"img-fluid")%>
				</a>
				<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2014/05/02/hyundai-elevator-called-foot/" target="_blank">Touchless Footbutton</a></h4>
				<p class="text-left">The “touchless foot button” system works when sensors pick up foot movement near the elevator’s door and summons the lift to the specific floor without the need to push a button with one’s fingers.</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li>
						<i class="fa fa-calendar"></i>
						20th May 2020
					</li>
				</ul>
			</div>

			<div class="img-hover">
				<a href="https://elevatortoday.com/2012/10/13/mezolift-first-solar-elevator/" target="_blank">
				<%= image_tag("news/solarElevator-logo.jpg", atl:"", class:"img-fluid")%>
				</a>
				<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2012/10/13/mezolift-first-solar-elevator/" target="_blank">Solar Elevator</a></h4>
				<p class="text-left">The elevator consumes 80% less energy than common lifts. <br>
					It works with 2 photovoltaic panels and 2 rechargeable batteries</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li>
						<i class="fa fa-calendar"></i>
						14th Apr 2020
					</li>
				</ul>
			</div>

			<div class="img-hover">
				<a href="https://elevatortoday.com/2018/01/18/magic-mirror-for-elevators/" target="_blank">
					<%= image_tag("news/magicMirror-logo.jpg", atl:"", class:"img-fluid")%>
				</a>
				<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2018/01/18/magic-mirror-for-elevators/" target="_blank">Magic Mirror For Elevators</a></h4>
				<p class="text-left">This product is able to transform a common elevator interior mirror into a full interactive touch-screen & internet-connected video screen.</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li>
						<i class="fa fa-calendar"></i>
						18th Mar 2020
					</li>
				</ul>
			</div>

			<div class="img-hover">
				<a href="https://elevatortoday.com/2020/03/03/thyssenkrupp-sells-elevator-technology-business-for-e17-2-billion/" target="_blank">
					<%= image_tag("news/thyssen-logo.jpg", atl:"", class:"img-fluid")%>
				</a>
				<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2020/03/03/thyssenkrupp-sells-elevator-technology-business-for-e17-2-billion/" target="_blank">ThyssenKrupp sells Elevator Technology business for €17.2 billion</a></h4>
				<p class="text-left">ThyssenKrupp sells its Elevator Technology business entirely to a consortium led by Advent, Cinven and RAG foundation for €17.2 billion. </p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li>
						<i class="fa fa-calendar"></i>
						17th Feb 2020
					</li>
				</ul>
			</div>

			<div class="img-hover">
				<a href="https://elevatortoday.com/2018/02/26/elevator-door-advertising/" target="_blank">
					<%= image_tag("news/advertLobster-logo.jpg", atl:"", class:"img-fluid")%>
				</a>
				<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2018/02/26/elevator-door-advertising/" target="_blank">Elevator Door Advertising</a></h4>
				<p class="text-left">Schindler Elevator has recently introduced a new advertisement solution for your elevator doors. A short-distance projector located above elevator doors in a custom enclosure, animates your messages on the outside of the elevator doors.</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li>
						<i class="fa fa-calendar"></i>
						26th Jan 2020
					</li>
				</ul>
			</div>

		</div>
	</div>
</section>
<!-- /News -->

<!-- Clients -->
<section id="clients" class="dark">
	<div class="container ">
		<a id="clients-nav" class="hidden-anchor"></a>
		<div class="heading-title heading-dotted text-center">
			<h2>Some Of Our Customers</h2>
		</div>
		<ul class="row clients-dotted list-inline">

			<li class="col-md-3 col-sm-3 col-6">
				<a href="https://codeboxx.biz/" target="_blank">
					<%= image_tag("brands/codeboxx.png", atl:"client", class:"img-fluid")%>
					<h4>CodeBoxx </h4>
				</a>
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<a href="https://www.quebon.ca/"target="_blank">
					<%= image_tag("brands/quebon.png", atl:"client", class:"img-fluid")%>
					<h4>Québon </h4>
				</a>
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<a href="https://www.tesla.com/"target="_blank">
					<%= image_tag("brands/tesla.png", atl:"client", class:"img-fluid")%>
					<h4>Tesla </h4>
				</a>
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<a href="https://www.audi.ca/"target="_blank">
					<%= image_tag("brands/audi.png", atl:"client", class:"img-fluid")%>
					<h4>Audi </h4>
				</a>
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<a href="https://www.intel.ca/"target="_blank">
					<%= image_tag("brands/intel.png", atl:"client", class:"img-fluid")%>
					<h4>Intel </h4>
				</a>
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<a href="https://www.fastly.com/"target="_blank">
					<%= image_tag("brands/fastly.png", atl:"client", class:"img-fluid")%>
					<h4>Fastly </h4>
				</a>
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<a href="https://www.adobe.com/ca/"target="_blank">
					<%= image_tag("brands/adobe.png", atl:"client", class:"img-fluid")%>
					<h4>Adobe </h4>
				</a>
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<a href="https://www.oracle.com/"target="_blank">
					<%= image_tag("brands/oracle.png", atl:"client", class:"img-fluid")%>
					<h4>Oracle </h4>
				</a>
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<a href="https://i.pinimg.com/originals/24/5a/e1/245ae17922e87954167a22bb77addf89.jpg"target="_blank">
					<%= image_tag("brands/batman.png", atl:"client", class:"img-fluid")%>
					<h4>The One And Only Batman</h4>
				</a>
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<a href="https://www.youtube.com/"target="_blank">
					<%= image_tag("brands/youtube.png", atl:"client", class:"img-fluid")%>
					<h4>Youtube </h4>
				</a>
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<a href="https://www.budlight.ca/"target="_blank">
					<%= image_tag("brands/budlight.png", atl:"client", class:"img-fluid")%>
					<h4>Budlight </h4>
				</a>
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<a href="https://www.adidas.ca/"target="_blank">
					<%= image_tag("brands/adidas.png", atl:"client", class:"img-fluid")%>
					<h4>Adidas </h4>
				</a>
			</li>

		</ul>
	</div>
</section>
<!-- /Clients -->

<!-- CONTACT -->
<section id="contact">
	<div class="container">
		<a id="contact-nav" class="hidden-anchor-contact"></a>
		<header class="text-center mb-60">
			<h2>Contact Us</h2>
			<p class="lead font-roboto fs-20">You won't regret it!</p>
			<hr />
		</header>
		<div class="row">
			<!-- FORM -->
			<div class="col-md-8 col-sm-8">

					<%= form_for Lead.new do |f| %>
						<fieldset>
							<div class="row">
									<div class="col-md-4">
										<label for="lead:full_name">Full Name *</label>
										<input type="text" required value="" class="form-control" name="lead[full_name]" id="lead:full_name">
									</div>
									<div class="col-md-4">
										<label for="lead:company_name">Business Name *</label>
										<input type="text" required value="" class="form-control" name="lead[company_name]" id="lead:company_name">
									</div>
									<div class="col-md-4">
										<label for="lead:email">E-mail Address *</label>
										<input type="email" required value="" class="form-control" name="lead[email]" id="lead:email">
									</div>
									<div class="col-md-4">
										<label for="lead:phone">Phone Number *</label>
										<input type="tel" required value="" class="form-control" name="lead[phone]" id="lead:phone">
									</div>
									<div class="col-md-4">
										<label for="lead:project_name">Project Name *</label>
										<input type="text" required value="" class="form-control" name="lead[project_name]" id="lead:project_name">
									</div>
									<div class="col-md-4">
										<label for="department_in_charge_of_the_elevators">Department</label>
										<select class="form-control pointer" name="lead[department_in_charge_of_the_elevators]">
											<option value="">--- Select ---</option>
											<option value="Sales">Sales</option>
											<option value="Support">Support</option>
											<option value="Administration">Administration</option>
										</select>
									</div>
							</div>
							<div class="row">
									<div class="col-md-12">
										<label for="lead:project_description">Project Description *</label>
										<input type="text" required value="" class="form-control" name="lead[project_description]" id="lead:project_description">
									</div>

							</div>
							<div class="row">
									<div class="col-md-12">
										<label for="lead:message">Message *</label>
										<textarea maxlength="10000" rows="8" class="form-control" name="lead[message]" id="lead:message"></textarea>
									</div>
							</div>
							<div class="row">
									<div class="col-md-6">
										<%= f.file_field :file, class: "btn btn-outline-secondary btn-dark" %>
									</div>
							</div><br/>



						</fieldset>

						<div class="row">
							<div class="field col-md-4 col-md-offset-3">
									<%= flash[:recaptcha_error] %>
									<%= recaptcha_tags theme: 'dark'%>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 col-md-offset-4">
							<div class="actions">
								<%# <button type="submit" class="btn btn-outline-primary">Sign up</button> %>
								<button type="submit" class="btn btn-outline-secondary btn-dark"><i class="fa fa-check"></i> SEND MESSAGE</button>
							</div>
							</div>
						</div>
				<% end %>
				</div>
						<!-- /FORM -->
			<!-- /FORM -->
			<!-- INFO -->
			<div class="col-md-4 col-sm-4">
				<h2>Visit Us</h2>
				<iframe style="filter: invert(90%)" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2729.0429937848103!2d-71.28188348414717!3d46.8428435484159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb897d0e1cafe3f%3A0x9863b2d992c71670!2sCodeBoxx!5e0!3m2!1sen!2sca!4v1610566845891!5m2!1sen!2sca" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				<p>
					<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong>418-725 Boulevard Lebourgneuf, Québec, QC G2J 0C4, Canada</span>
					<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:(418) 555-1234">(418) 555-1234</a></span>
					<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codebox.biz</a></span>
				</p>
			</div>
			<!-- /INFO -->
		</div>
	</div>
</section>
<!-- /CONTACT -->
